* {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    height: 100%;
    display: flex;
}

#viewport {
    padding: 0px;
    margin: 0px;
    height: 100%;
    display: flex;
    z-index: 0;
}

#overlay {
    z-index: 10;
}

.control-box {
    height: 94%;
    width: 15%;
    position: fixed;
    display: block;
    color: white;
    background-color: black;
    opacity: 0.35;
    border-color: white;
    border-style: outset;
    border-radius: 15px;
    z-index: 10;
    margin: 10px;
    padding: 10px;
    padding-top: 0px;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    transition: opacity 250ms;
}

.control-box:hover, #control-info:hover {
    opacity: 0.75;
    transition: opacity 250ms;
}

#info-icon {
    font-weight: normal;
}

#info-icon:hover {
    cursor: pointer;
}

#loading-screen {
    height: 50%;
    width: 50%;
    position: absolute;
    top: 25%;
    left: 25%;
    color: white;
    background-color: black;
    opacity: 0.75;
    border-color: white;
    border-style: outset;
    border-radius: 15px;
    z-index: 12;
    padding: 10px;
    display: none;
}

#progress-bar {
    background-color: black;
    border-color: white;
    border-style: solid;
    border-width: 1px;
    height: 1em;
    width: 99%;
    margin-top: 10px;
}

#percent-indicator {
    margin-top: 10px;
}

#finished-bar {
    height: 100%;
    width: 0%;
    background-color: white;
}

#loading-content {
    height: fit-content;
    width: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    display: block;
    text-align: center;
}

#app-info, #development-info {
    height: fit-content;
    width: fit-content;
    max-width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: black;
    opacity: 0.75;
    border-color: white;
    border-style: outset;
    border-radius: 15px;
    z-index: 12;
    padding: 10px;
    display: none;
}

#about-link {
    text-decoration: underline;
    text-align: center;
}

#about-link:hover {
    cursor: pointer;
}

#info-title, #development-title {
    text-align: center;
}

.info-paragraph {
    text-align: justify;
    margin-bottom: 5px;
    margin-top: 5px;
}

.info-centered {
    text-align: center;
}

a {
    color: white;
}

#close-button, #close-button-2 {
    position: absolute;
    top: 10px;
    right: 10px;
}

#close-button:hover, #close-button-2:hover {
    text-decoration: underline;
    cursor: pointer;
}

#right-controls {
    position: absolute;
    right: 0px;
    top: 0px;
    max-width: 250px;
    display: flex;
    flex-direction: column;
}

#left-controls {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 20%;
    max-width: 300px;
}

#sim-select, #sim-info, #object-info {
    border-color: white;
    border-style: inset;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    height: fit-content;
}

#object-info {
    height: fit-content;
    min-height: 132px;
}

#sim-select {
    padding-top: 0px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

#object-set, #object-select {
    overflow-y: scroll;
    background-color: black;
    color: white;
}

#object-set, #object-select, #date {
    width: 100%;
}

#object-set {
    flex-grow: 1;
}

.object-selector:hover, .system-selector:hover {
    text-decoration: underline;
    cursor: pointer;
}

.object-selector-unavailable {
    color: grey;
}

.indented {
    text-indent: 4px;
}

.hidden {
    display: none;
}

#object-select {
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-radius: 0;
    padding: 3px;
    flex-grow: 1;
}

#time {
    width: 75%;
}

option:checked {
    color: black;
    background-color: grey;
}

.menu-title {
    margin-top: 10px;
    margin-bottom: 5px;
}

#menu-info {
    margin-top: 5px;
    font-weight: normal;
}

.input-field {
    margin-bottom: 5px;
    background-color: black;
    color: white;
}

#sim-select-submit {
    width: 100%;
    margin-top: 5px;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

button {
    background-color: black;
    color: white;
    padding: 2px;
    padding-left: 4px;
    padding-right: 4px;
}

#play-pause-container {
    width: 20%;
}

#play-pause {
    width: 100%;
}

.right-float {
    float: right;
}

.left-float {
    float: left;
}

.info-box-small {
    font-size: smaller;
}

#object-select {
    max-height: 75%;
}

#info-subtitle {
    margin-bottom: 5px;
}

#controls {
    margin-top: 5px;
}

#control-info {
    position: fixed;
    top: 0px;
    right: 18%;
    height: fit-content;
    width: fit-content;
    font-size: smaller;
    padding: 5px;
    object-fit: cover;
}

#show-hide-overlay {
    position: fixed;
    top: 0px;
    left: 23%;
    height: fit-content;
    width: fit-content;
    font-size: smaller;    
    padding: 5px;
    object-fit: cover;
}

#show-hide-button:hover {
    cursor: pointer;
    text-decoration: underline;
}

#framerate-container {
    color: green;
}
