<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/app.css">
    <title>Solar System Explorer</title>
</head>

<body>
    <div id="viewport"></div>
    <div id="overlay">
        <div id="left-controls" class="control-box overlay">
            <form id="sim-select" action="/">
                <h4 class="menu-title">Object set: <span id="info-icon" class="right-float">&#128712</span></h4>
                <select id="object-set" name="object-set" size="5" required>
                    <optgroup label="Solar system">
                        <option value="full">Full solar system</option>
                        <option value="inner">Inner solar system</option>
                        <option value="outer">Outer solar system</option>
                        <option value="planets">Planets only</option>
                        <option value="dwarves">Dwarf planets only</option>
                        <option value="planets-dwarves">Planets and dwarf planets</option>
                    </optgroup>
                    <optgroup label="Planetary systems">
                        <option value="3">Earth-Moon system</option>
                        <option value="4">Martian system</option>
                        <option value="5">Jovian system</option>
                        <option value="6">Saturnian system</option>
                        <option value="7">Uranian system</option>
                        <option value="8">Neptunian system</option>
                        <option value="9">Plutonian system</option>
                    </optgroup>
                </select>
                <h4 class="menu-title">Start date/time:</h4>
                <p><input class="input-field" id="date" type="date" name="date-time" required></p>
                <p><input class="input-field" id="time" type="time" step="1" required><span
                        class="right-float">Local</span></p>
                <button type="submit" id="sim-select-submit">Go!</button>
            </form>
            <div id="sim-info">
                <p><small class="right-float"><em>Times display in system's local time zone</em></small></p>
                <p><b>Start date:</b><em id="start-time" class="right-float"></em></p>
                <p><b>Current date:</b><em id="current-time" class="right-float"></em></p>
                <p><b>Elapsed time:</b><em id="elapsed-time" class="right-float"></em></p>
                <p id="controls">Speed: <input id="speed-slider" type="range" min="-59" max="50" value="1">
                    <span id="play-pause-container" class="right-float"><button id="play-pause">&#9205</button></span>
                </p>
            </div>
            <div id="object-info">
                <h3>No object selected</h3>
            </div>
        </div>
        <div id="right-controls" class="control-box overlay">
            <h3 class="menu-title">Objects</h3>
            <h6 class="menu-title" id="menu-info">Click an object to view:</h6>
            <div id="object-select"></div>
            <h6 class="menu-title" id="menu-info">Grayed-out name indicates the object's location and velocity data were
                not available for the selected date</h6>
        </div>
        <div id="show-hide-overlay" class="control-box">
            <p><b id="show-hide-button">Hide overlay</b></p>
        </div>
        <div id="control-info" class="control-box overlay">
            <p><b>Click & drag to look around</b></p>
            <p><b>Use mouse wheel to zoom</b></p>
            <p>Framerate: <b><em id="framerate-container" class="right-float"></em></b></p>
        </div>
        <div id="loading-screen">
            <div id="loading-content">
                <h1>Loading objects...</h1>
                <p id="object-system-container"></p>
                <div id="progress-bar">
                    <div id="finished-bar"></div>
                </div>
                <div id="percent-indicator">0%</div>
            </div>
        </div>
        <div id="app-info">
            <div id="close-button"><b>X</b></div>
            <h1 id="info-title">Solar System Explorer</h1>
            <p class="info-paragraph">Welcome to the Solar System Explorer! This app was built to be a realistic
                representation of our solar system. To get started, select an object set, time, and date and click the
                "Go!" button. The app queries <a href="https://ssd.jpl.nasa.gov/?horizons" target="_blank">NASA's JPL
                    Horizons system</a> and populates the three-dimensional space with all objects in the selected set,
                using their real positions at the specified date and time. The app includes 223 possible objects to
                simulate, including the Sun, 8 planets, 5 dwarf planets, and 209 total moons.</p>
            <p class="info-paragraph">From there, click the play/pause button to run or pause the simulation. The app
                calculates realistic gravitational interactions between all selected objects using <a
                    href="https://en.wikipedia.org/wiki/Newton%27s_law_of_universal_gravitation"
                    target="_blank">Newton's Law of Universal Gravitation</a> and uses these calculations to animate the
                objects on-screen. The speed of the simulation can be adjusted using the slider. The slider's full left
                position corresponds to approximately real-time movements, depending on the framerate of the animation.
                At any time, you can click an object or system in the right-side menu to get a view of that object or
                system.</p>
            <p class="info-paragraph">Many of the solar system's smaller moons and dwarf planets are irregularly shaped,
                but they are represented as ellipsoids in this simulation for the sake of simplicity. Additionally,
                texture maps are only available for the Sun, planets, and some of the larger moons. Objects without
                available texture maps are simply represented as white ellipsoids.</p>
            <p class="info-paragraph"><em><b>Please note:</b> Object sets with large numbers of objects may take some
                    time to load, and may also lead to reduced framerate and/or reduced simulation accuracy when used in
                    combination with high simulation speeds. This is particularly an issue with the "Full solar system"
                    and "Outer solar system" object sets, which contain 223 and 215 objects respectively.</em></p>
            <p class="info-paragraph" id="about-link">About the app</p>
        </div>
        <div id="development-info">
            <div id="close-button-2"><b>X</b></div>
            <h2 id="development-title">About the App</h2>
            <p class="info-paragraph info-centered">Solar System Explorer was developed by Jason McGinty.</p>
            <p class="info-centered"><a href="https://www.linkedin.com/in/jasonmcginty15/" target="_blank">Jason's
                    LinkedIn profile</a></p>
            <p class="info-centered"><a href="https://github.com/jmcginty15" target="_blank">Jason's Github page</a></p>
            <p class="info-centered"><a href="https://github.com/jmcginty15/Solar-system-simulator"
                    target="_blank">Solar System Explorer
                    repo</a></p>
            <p class="info-paragraph info-centered">NASA JPL Horizons queries are performed using the <a
                    href="https://astroquery.readthedocs.io/en/latest/jplhorizons/jplhorizons.html"
                    target="_blank">astroquery Python module</a>.</p>
            <p class="info-paragraph info-centered">3D rendering is performed using the <a href="https://threejs.org/"
                    target="_blank">Three.js JavaScript library</a>.</p>
            <p class="info-paragraph info-centered">Gravitational forces between objects are calculated using <a
                    href="https://en.wikipedia.org/wiki/Barnes%E2%80%93Hut_simulation" target="_blank">Barnes-Hut
                    approximation</a>.</p>
            <p class="info-paragraph info-centered">Object textures were obtained from <a
                    href="http://planetpixelemporium.com/planets.html" target="_blank">JHT's Planetary Pixel
                    Emporium</a> when available.</p>
            <p class="info-paragraph info-centered">Remaining object textures were obtained from <a
                    href="http://stevealbers.net/albers/sos/sos.html" target="_blank">Steve Albers' Planetary Maps
                    page</a> and <a href="https://www.solarsystemscope.com/textures/" target="_blank">Solar System
                    Scope</a>.</p>
            <p class="info-paragraph info-centered">Milky Way background texture was obtained from <a
                    href="https://commons.wikimedia.org/wiki/File:ESO_-_Milky_Way.jpg" target="_blank">Wikimedia
                    Commons</a>.</p>
            <p class="info-paragraph info-centered">Please feel free to contact Jason on LinkedIn with any feedback or
                suggestions!</p>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.js"></script>
    <!-- <script src="/static/query-objects.js"></script> -->
    <script src="/static/functions.js"></script>
    <script src="/static/classes.js"></script>
    <script src="/static/barnes-hut.js"></script>
    <script src="/static/app.js" type="module"></script>
</body>

</html>